#performance {
  margin: 0;
  background-color: rgb(27, 27, 27);
  color: white;
  width: 100%;
	/* height: 100vh; */
  overflow-x: hidden;
  overflow-y: hidden;
}

#top-performance {
  padding: 20px;
}

#performance-top-left {
  width: 40rem;
  margin-right: 10vh;
  margin: 5px;
}

#performance-top-right {
  min-width: 500px;
  margin: 5px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  font-family: sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: rgb(146, 145, 145);
}

.tabs__label {
  padding: 1px 1px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

#tab-1-label {
  padding-right: 5px;
}

#tab3 + .tabs__label {
  font-weight: bold !important;
  color: #fe2c55 !important;
  border-bottom: 2px solid #fe2c55 !important;
}

#tab4 + .tabs__label {
  font-weight: bold !important;
  color: #25f4ee !important;
  border-bottom: 2px solid #25f4ee !important;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

#performance-header {
  display: flex;
  justify-content: space-between;
  /* min-width: 240px; */
	width: 100%;
	height: auto;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 3px;
  background-color: #000000;
  color: white;
	padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

#performance-header-title {
  font-weight: bold;
}

.log {
  border: 1px solid rgb(56, 56, 56);
  box-shadow: 1px 1px black;
	padding: 3px;
  border-radius: 3px;
  margin: 3px;
  cursor: pointer;
}

#history {
  margin: 5px;
  overflow-y: scroll;
}

#bottom-performance {
  height: 100%;
  overflow-y: scroll;
	padding: 20px;
	border-top: 1px solid black;
}
