
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
    // position: absolute;

  }
  #header .pro-sidebar {
    height: 100vh;
    width: 20px !important;
    min-width: 205px;
  }
  #header .closemenu {
    color: #000;
    position: absolute;
    right: 0;
    z-index: 0;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 22px;
    top: 55px;
    cursor: pointer;
  }

  #header .pro-sidebar.collapsed {
    width: 80px;
    min-width: 80px;
  }
  #header .pro-sidebar-inner {
    background-color: white;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
    
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #000;
    margin: 10px 0px;
    font-weight: bold;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: gainsboro;
    color: #000;
    border-radius: 3px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #000;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout .active {
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
  }
  #header .logo {
    padding: 20px;
  }

$sidebar-bg-color: black;

// $sidebar-width: 190px;

$sidebar-color: rgb(146, 145, 145);

@import '~react-pro-sidebar/dist/scss/styles.scss';


  @media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }