.playground-header {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  margin-top: 10px;
}

.queryInput {
  border: 1px outset;
  width: 37.5vw;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.queryOutput {
  border: 1px outset;
  width: 37.5vw;
  font-size: 14px;
  border-radius: 10px;
  margin-top: 20px;
}

.head-text {
  color: #fe2c55;
  padding: 5px 5px 5px 5px;
}

.playground-container button:hover {
  cursor: pointer;
  color: rgb(27, 27, 27);
  background-color: white;
}

.playground-container button {
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 3px;
}

.playground {
  display: flex;
  justify-content: center;
}

.playground-container {
  background-color: rgb(27, 27, 27);
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
  margin: 0;
  width: 100%;
}

input {
  width: 50vh;
  height: 30px;
  padding: 5px 5px 5px 5px;
  border: none;
  margin-right: 5px;
  border-radius: 3px;
}

h2 {
  text-align: center;
  color: #25f4ee;
}
